extends layout

block content
    .container
        .content
            .search.micro-search
                .micro-container.center
                    h1.title
                        a(href="/")= title
                    form(action='/search', method='post')
                        span.icon
                            i.fa.fa-search
                        input(type='search', name='searchQuery', placeholder='Search...')
            .results-container
                if noData
                    h2=noData
                else
                    ul.results
                        li.result-category Twitter
                            ul.result-set
                                - for (var i = 0; i < 10; i++)
                                    li
                                        a(href='https://twitter.com/' + twitterData[i].user.screen_name + '/status/'
                                            + twitterData[i].id_str).result
                                            img(src=getOriginal(twitterData[i].user.profile_image_url_https))
                        li.result-category Instagram
                            ul.result-set
                                - for (var x = 0; x < 10; x++)
                                    li
                                        a(href='' + instagramData[x].link).result
                                            img(src='' + instagramData[x].images.thumbnail.url)
                        li.result-category splashbase
                            ul.result-set
                                - for (var y = 0; y < 10; y++)
                                    li
                                        a(href='' + splashbaseData[y].large_url).result
                                            img(src='' + splashbaseData[y].url)


    script(src='javascripts/vendor/jquery-1.10.1.min.js')
    script(src='javascripts/imagesLoaded.js')
    script(src='javascripts/jquery-imagefill.js')
    script(type='text/javascript').
        $('.result').imagefill();